html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
    font-family: 'living-stone';
    src: url('../fonts/Livingst.ttf');
}
@font-face {
    font-family: 'romantik';
    src: url('../fonts/Romantik.ttf');
}

.living-stone{
    font-family: living-stone;
}

.romantik{
    font-family : romantik;
}