@model string
@{
    ViewData["Title"] = "CREATE ROLE";
}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <h1 class="text-center">Create a Role</h1>
                <a asp-action="Index" class="btn btn-secondary">Back</a>
                <div asp-validation-summary="All" class="text-danger"></div>

                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input name="name" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>