@model GMToolset.Services.Models.Warhammer4.Character.CharacterSheet

<!-- Character Name --> 
<div class="row">
    <div class=" h1 text-center">Stary Cap</div>
</div>

<div class="row border-top pt-2">
    <!-- Basic Info --> 
    <div class="col-8">
        <!-- Species and Class --> 
        <div class="row">
            <div class="col">
                <p>
                    <span class="fw-bold">Rasa:</span>
                    <span class="ps-2">Człowiek</span>
                </p>
            </div>
            <div class="col">
                <p>
                    <span class="fw-bold">Klasa:</span>
                    <span class="ps-2">Pospólstwo</span>
                </p>
            </div>
        </div>
        <!-- Profession --> 
        <div class="row">
            <div class="col">
                <p>
                    <span class="fw-bold">Profesja:</span>
                    <span class="ps-2">Górnik</span>
                </p>
            </div>
            <div class="col">
                <p>
                    <span class="fw-bold">Poziom Profesji:</span>
                    <span class="ps-2">Mistrz Górnictwa</span>
                </p>
            </div>
        </div>
        <!-- Appearance --> 
        <div class="row">
            <div class="col">
                <p>
                    <span class="fw-bold">Wiek:</span>
                    <span class="ps-2">71</span>
                </p>
            </div>
            <div class="col">
                <p>
                    <span class="fw-bold">Wzrost:</span>
                    <span class="ps-2">162 cm</span>
                </p>
            </div>
            <div class="col">
                <p>
                    <span class="fw-bold">Włosy:</span>
                    <span class="ps-2">Brak</span>
                </p>
            </div>
            <div class="col">
                <p>
                    <span class="fw-bold">Oczy:</span>
                    <span class="ps-2">Brązowe</span>
                </p>
            </div>
        </div>
        <div class="row border-top pt-2">
            <!-- Characteristics --> 
            <div class="col-8">
                <p class="h4 fw-bold text-center">Cechy</p>
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th scope="col"></th>
                            <th scope="col"> <label for="@Model.Attributes.WeaponSkill"/> </th>
                            <th scope="col">US</th>
                            <th scope="col">S</th>
                            <th scope="col">Wt</th>
                            <th scope="col">Zw</th>
                            <th scope="col">I</th>
                            <th scope="col">Zr</th>
                            <th scope="col">Int</th>
                            <th scope="col">SW</th>
                            <th scope="col">Ogd</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-end">
                            <th scope="row" class="text-center">Początkowa</th>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr class="text-end">
                            <th scope="row" class="text-center">Rozwinięcia</th>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr class="text-end">
                            <th scope="row" class="text-center">Aktualna</th>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Fate and Resilience --> 
            <div class="col-4">
                <div class="row">
                   <p class="h4 fw-bold text-center">Bohater i Przenzaczenie</p>
                   <table class="table table-bordered">
                       <thead>
                           <tr>
                               <th scope=col>Pkt Bohatera</th>
                               <th scope=col>Pkt Determinacji</th>                           
                           </tr>
                       </thead>
                       <tbody>
                           <tr class="text-center">
                                <td scope="row">3</td>
                                <td scope="row">3</td>
                           </tr>
                           <tr>
                                <th scope=col>Pkt Przeznaczenia</th>
                                <th scope=col>Pkt Szczęścia</th>           
                           </tr>
                           <tr class="text-center">
                                <td scope="row">3</td>
                                <td scope="row">3</td>
                           </tr>
                       </tbody>
                   </table>
                </div>
                <div class="row">
                </div>
            </div>
            
        </div>
        <div  class="row">
            <!-- Basic Skills --> 
            <p class="h4 fw-bold text-center">Umiejętności podstawowe</p>
            <div class="col-4">
                <table class="table table-bordered">

                </table>
            </div>
        </div>
    </div>
    <!-- Character Portrait --> 
    <div class="col-4 bg-black">
    </div>
</div>